*.o
*.crf
*.axf
mavlink_px4.si4project/
OBJ/
*.sip_xc
*.sip_xr
*.sip_xm
*.sip_xf
mavlink_px4.si4project/mavlink_px4.sip_xc
mavlink_px4.si4project/mavlink_px4.sip_xf
mavlink_px4.si4project/mavlink_px4.sip_xm
mavlink_px4.si4project/mavlink_px4.sip_xr
USER/JLinkSettings.ini
USER/JLinkLog.txt
*.uvprojx
*.uvoptx
*.shendu128
*.Administrator
*.67368
*.TMP
